.contact-wrapper input{
  outline: none;
  border: 1px solid transparent;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width:100%;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  
}

.contact-wrapper input:focus{
  border: 1px solid #0878bd;
}
.contact-wrapper textarea{
  outline: none;
  border: 1px solid transparent;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  width:100%;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  resize: none;
  height: 100px;
}

.contact-wrapper textarea:focus{
  border: 1px solid #0878bd;
}

.contact-wrapper h2,h3{
  font-family: 'roboto';
}
.contact-wrapper h2{
  color: #2E3191;
}
.contact-wrapper p{
  font-size: 18px;
  font-family: "oswald";
}

.contact-wrapper h3 i{
  font-size: 20px;
  margin-right: 5px;
}

.submit{
  width:100%;
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  margin-top: 10px;
  background-color: #0e8ddb;
  color: white;
  font-size: 20px;
  font-family: "oswald";
  transition:all .2s ease-in-out;
}

.submit:hover{
  background-color:#0878bd;
}



.mapsize{
  width: 100% !important;
  height: 500px;
}
.office-address-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.office-address-wrapper img{
  border-radius: 10px;
  width:270px;
}

.contact-form{
  margin: 0 auto;
  display: block;
}

.contact-wrapper-form{
  width: 520px;
  margin: 0 auto;
}