*{
  margin: 0;
  padding: 0;

}

/*----- common style for all start-----  */

html{
  scroll-behavior: smooth;
}
a{
 text-decoration: none;
}
ul{
  list-style-type: none;
}
li{
  list-style-type: none;
}

:root {
  --primary: #006BAF;
  --secondary: #2E3191;
  --whitetype:#C9DFF6;
  --gradient-color:linear-gradient(to right,  #C9DFF6  , var(--primary) 85%);
}


.client-title p{
  text-align: center;
  font-weight: bold;
  color:#ff5200;
  font-size: 20px;
  font-family: 'oswald';
  padding: 40px 0px;
  letter-spacing: 1px;
}



/*---------preloader start---------*/
.preloader{
  height: 100vh;
  background: rgb(0, 0, 0);
  width: 100%;
  z-index:10000;
  position:fixed;
}

.preloader .pre-img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%); 
  padding: 50px 28px;
  border: 2px solid transparent; 
  border-radius: 50%;
  transition: all .3s ease-in-out;
  animation: loader 1s infinite;
}


@keyframes loader {
  0%{
    border-top: 2px solid var(--primary);
    border-radius: 50%;
  }
  25%{
    border-right: 2px solid var(--primary);
    border-radius: 50%;
  }
 50%{
    border-bottom: 2px solid var(--primary);
    border-radius: 50%;
  }
  100%{
    border-left: 2px solid var(--primary);
    border-radius: 50%;
  }
}
/*---------preloader end---------*/


/* scroll bar edit start */

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--secondary);
}

::-webkit-scrollbar-thumb {
  background: var(--secondary);
}


::-webkit-scrollbar {
  width: 15px;
}


::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--primary);
}

::-webkit-scrollbar-thumb {
  background:var(--primary);
  border-radius: 10px;
  box-shadow: inset 0 0 5px var(--secondary);
}

/* scroll bar edit end */


/*----- common style for all end-----  */


/*----- header start-----  */

/* first subheader beguni background */
header .subheader{
  background-color: var(--secondary) !important;
  position: fixed;
  width: 100% ;
  z-index: 1231;
  top: 0px;
  height: 48px;
  
}
header .sub-item{
  display: flex;
  justify-content:space-around;
  align-items: center;
}
header .sub-item p{
  margin-right: 40px;
  color: white;
  margin-top: 8px;
  font-family: 'oswald';
  font-weight:300;
  cursor: pointer;
  transition: all .3s;
}

header .sub-item p:hover{
  
  color: #2ca0e7;
}

.header-social-icon i{
  font-size: 22px;
  color: white;
  transition: all .3s ;
}

.header-social-icon i:hover{
  color: #2ca0e7;
}

/* first subheader beguni background */


/* title for large screen  */
.heading-title{
  color: var(--secondary);
  /* font-family: 'Roboto Slab', serif; */
  @import url(//db.onlinewebfonts.com/c/e3353f9b4beaa3d3a532b4acaf6c59e0?family=Ashley+Inline);
  font-family: "Ashley Inline";
  font-size: 33px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-left:70px !important;
}
.first-logo{
  margin-top: 20px;
}
.first-search-bar{
  margin-top: 20px !important;
}
.first-search-bar input{
  width: 230px;
  height: 35px;
}
/* title for large screen  */


/* title for small screen  */
.title-wrapepr{
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
.title h2{
  display: none;
  color: var(--secondary);
  /* font-family: 'Roboto Slab', serif; */
  font-family: "Ashley Inline";
  
}
.navbar-brand{
  display: none;
 
}
/* title for small screen  */

.heading-item{
  display: flex;
  justify-content: space-around;
}

.heading-item img{
  margin-left: -20px;
}

.main-header{
  background:var(--gradient-color);
  position: fixed;
  top:48px;
  width: 100% ;
  z-index: 124;
}
.navbar{ 
  /* background-image: linear-gradient(to right,  #C9DFF6  , var(--primary) 85%); */
  background-color: transparent !important;
}


.navbar-toggler,
.navbar-toggler,
.navbar-toggler-icon{
  outline: none;
  border: none;
  box-shadow: none;
  margin-top: -10px;
}
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.headerflex{
  display: flex;
  justify-content: space-around;
  padding: 10px 0px;
  margin-top: -10px !important;
}
.headerflex ul li{
  margin-top: 10px;
}
.headerflex ul li a {
  color: var(--secondary) !important;
  font-weight: 500;
  border: 1px solid var(--secondary);
  background-color: var(--whitetype);
  padding: 2px 30px !important;
  margin-right: 10px;
  border-radius: 3px;
  transition: all .3s ease-in-out;
  text-align: center;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.headerflex ul li a:hover{
  background-color: var(--primary);
  color: white !important;
  border: 1px solid var(--primary);
  
}
.headerflex ul li::after{
  content: '';
  background-color: var(--secondary);
  height: 24px;
  width: 10px;
  position: absolute;
  margin-left: -10px;
  top:24px;
  border-radius: 2px 0px 0px 2px;
}
.headerflex ul li:last-child:after{
  content: '';
  height: 0px;
  width: 0px;
  display: none;
}

.contact::after{
  content: '';
  background-color: var(--secondary);
  height: 24px;
  width: 10px;
  position: absolute;
  margin-left: 30px;
  top:24px;
  border-radius: 0px 2px 2px 0px ;
}


/* search bar  for small screen*/
.for-serch{
  position: relative;
  margin-top: -5px;
}
.searchbar{
  outline: none;
  border: none;
  border-radius: 5px 0px 0px 5px;
  height: 35px;
  width: 255px !important;
  padding-left: 10px;
  padding-right: 18px;
  background: white;
  
}
.searchIcon{
  color: white;
  background-color: var(--secondary);
  padding: 10px;
  border-radius: 0px 5px 5px 0px ;
  position: absolute;
  right:-5px;
  cursor: pointer;
  transition: .3s;
}

.searchIcon:hover{
  background-color: #ff5200;
}
.responsive{
  display: none;
}
/* search bar  for small screen*/

/*----- header end-----  */



/* header udner photos start */

.caurasel-main{
  background-image: url(images/hanger1.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  height: 100vh;
  background-attachment: fixed;
}

.carousel-item{
  height: 100vh;
  min-height: 300px;
  background: no-repeat scroll center scroll;
  -webkit-background-size:cover;
  background-size: cover;
}

.carousel-item::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}

.carousel-indicators li{
  border: 2px solid black;
  width: 12px;
  height: 12px;
  margin:5px;
  border-radius: 50%;
  transition: all .3s ease-in-out;
}

.carousel-indicators li.active{
  border: 2px solid rgb(240, 237, 237);
  background-color: white;
}

.carousel-control-prev-icon,.carousel-control-next-icon{
  background-color:var(--secondary);
  padding: 22px;
  border-radius: 50%;
}
.carousel-item img{
  width: 100%;
  height: 100%;
}


.header-photo-wraper{
  background:rgba( 0,0,0,0.4);
  height: 100%;
  position: relative;
} 

.unic-border{
  width: 450px;
  height:350px;
  padding: 10px;
  background:#ff890352;
  position: absolute;
  /* left: 50%; 
  top: 50%; 
  transform: translate(-50%, -50%); */
  top: 60px;
  left: 80px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: rgb(3, 3, 3);
  font-family: 'Oswald', sans-serif;
  border-radius: 30px 0px; 
  transition: all .3s ease;
  animation: unicAnim 1s 1 1s ;
  text-transform: capitalize;
  font-weight: bold;
}

@keyframes unicAnim {
   from{
     left: 0px;
   }
   to{
     left: 80px;
   }
}

.unic-border::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 5px solid #76B1D7;
  border-left: 5px solid #76B1D7;
  height: 50%;
  width: 40%;
  transition: all .5s ease;
}

.unic-border::after{
  content: "";
  position: absolute;
  right:0;
  top: 0;
  border-top: 5px solid #76B1D7;
  border-right: 5px solid #76B1D7;
  height: 50%;
  width: 40%;
  transition: all .5s ease;
}

.unic-border:hover::after{
  height: 100%;
  width: 100%; 
}

.unic-border:hover::before{ 
  height: 100%;
  width: 100%;
}

.unic-border:hover{
  border-radius: 0px;
}


/* header udner photos end */


/* about us start */
.about-us{
  background:var(--gradient-color);
  padding: 50px 0px;
}
.all-title h4{
   text-align: center;
   font-family:Montserrat;
   font-weight: bold;
   color: #000;
   font-size: 30px;

}
.about-item p{
  /* background:var(--gradient-color); */
  color:#000;
  text-align: justify;
  font-size: 21px;
  padding: 14px;
  box-sizing: border-box;
  overflow:auto;
  
}
.about-item{
  position: relative;
}

.about-single-item-wraper{
   height: 300px;
}
.about-single-item-wraper img{
  width: 100%;
  height:100%;
}


.about-img-bord::before{
  content: "";
  position: absolute;
  left: 10px;
  bottom: 0px;
  border-bottom: 5px solid var(--secondary);
  border-left: 5px solid var(--secondary);
  height: 30%;
  width: 30%;
  transition: all .5s ease;
} 


.about-img-bord::after{
  content: "";
  position: absolute;
  right:10px;
  top: 0px;
  border-top: 5px solid var(--secondary);
  border-right: 5px solid var(--secondary);
  height: 30%;
  width: 30%;
  transition: all .5s ease;
}

.about-img-bord:hover{
  border-radius:0px;
}

.about-img-bord:hover::after{
  height:99%;
  width:98%; 
}

.about-img-bord:hover::before{
  height:99%;
  width:98%; 
}






/* client part */

.client-logo{
  display: flex; 
  overflow-x: auto;
  
}

.client-logo img{
  height: 100px;
  min-width: 150px;
  margin: 0px 15px;
}

.client-logo::-webkit-scrollbar{
  display: none;
}
/* about us end */


/* product start  */
.product{
  background:var(--gradient-color); 
  padding-bottom: 30px;
}

.all-product-btn{
  background-color: var(--secondary);
  padding: 10px 0px;
  border-radius: 8px;
  width:250px;
  outline: none;
  border: none;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  color: white;
  font-weight:400;
  font-family: 'oswald';
  letter-spacing: 1px;
  transition: all .3s ease-in-out;
}

.all-product-btn:hover{
  background-color: var(--primary);

}
.product-item{
  display: flex;
  overflow-x: auto;
}
.product-item::-webkit-scrollbar{
  display: none;
}
.product-item .single-product{
  min-width: 300px;
  margin:15px;
  position: relative;
  transition: all .3s ease-in-out;
}

.single-product-inner{
   position: absolute;
   bottom: 20px;
   height:0;
   width: 100%;
   border-radius: 0px 0px 0 10px;
   background:var(--secondary);
   visibility: hidden;
   transition: all .3s ease-in-out;
}

.single-product-inner button{
  position: absolute;
  bottom: 20px;
  outline: none;
  border: 1px solid var(--primary);
  background: var(--primary);
  color: white;
  padding: 5px 30px;
  border-radius: 50px; 
  font-family: 'oswald';
  text-align: center;
  margin-left: 90px;
  transition: all .2s ease-in-out;
}

.single-product-inner button:hover{
  border: 1px solid var(--primary);
  background: transparent;
}
.single-product-inner h4{
  position: absolute;
  padding-bottom: 10px;
  font-family: "roboto";
  color: white;
  font-weight:500;
  text-align: center;
  font-size: 20px;
  bottom: 50px;
  margin-left: 80px;
}

.single-product img{
  width: 100%;
  height: 250px;
  border-radius: 0px 10px 0px 0px; 
  transition:all .2s ease-in-out;
}
.single-product:hover .single-product-inner{
  visibility: visible;
  height: 40%;
}
.single-product p{
  background-color:var(--secondary);
  padding: 10px;
  font-family: "roboto";
  border-radius: 0px 0px 0px 10px;
  color: white;
  font-weight:500;
  text-align: center;
  font-size: 20px;
}

/* product start  */



/* what are you looking for start  */

.lookin-main{
  background: var(--gradient-color);
}
.what-looking{
  margin: 0 auto;
}
.what-looking h2{
  text-align: center;
  font-family: 'oswald';
  padding: 20px 0px;
  font-weight: bold;
  color: #000;
}

.looking-item input{
  outline: none;
  border: 1px solid transparent;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  /* width:100%; */
  width: 570px;
  display: block;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  height: 55px;
}

.looking-item input:focus{
  border: 1px solid var(--primary);
}

.looking-item textarea{
  outline: none;
  border: 1px solid transparent;
  margin: 0 auto;
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  /* width:100%; */
  display: block;
  width: 570px;
  background: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  resize: none;
  height: 120px;
}

.looking-item textarea:focus{
  border: 1px solid var(--primary);
}
.what-looking button{
  width: 570px;
  outline: none;
  border: none;
  padding: 10px 0px;
  border-radius: 5px;
  background-color: var(--secondary);
  color: white;
  font-size: 20px;
  font-family: "oswald";
  transition:all .3s ease-in-out;
  letter-spacing: 1px;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
}

.what-looking button:hover{
  background: var(--primary);
}
/* what are you looking for start  */


/* fotter-section style start */


.main-fotter{
  /* background:var(--gradient-color); */
  background: #000;
  padding-top: 50px;
  margin-bottom: -25px;
  font-family: 'Playfair Display', serif;
}

.fotter-header-content h1{
  color: white;
  font-family: 'roboto';
}
.fotter-header-content2 h1{
  color: white;
}

.fotter-content-one h4{
  text-transform: uppercase;
  color:var(--primary);
  margin-bottom: 35px;
  margin-top: 30px;
  font-size: 22px;
  font-weight: bold;
}
.fotter-content-one p{
  color:rgba(216, 211, 211, 0.904);   
  transition: 0.4s;
  font-weight: 400;
  font-family:'oswald'
  
}


.fotter-content-one p:hover{
  color: var(--primary);
  margin-left: 5px;
  cursor: pointer;
}

.footer-buttons button{
  border: 1px solid var(--primary);
  outline: none;
  padding: 5px 30px;
  color:white;
  background: transparent;
  margin-right: 10px;
  border-radius:5px;
  transition: .3s ease-in-out;
  font-family: 'oswald';
  width: 200px;
  margin-bottom: 10px;
}

.footer-buttons button:hover{
  background-color: var(--primary);
}
.fotter-socialmedia i{
font-size: 24px;
/* background-color:var(--primary); */
color: white;
border-radius: 50%;
padding:12px;
margin-right: 10px;
transition:all .2s ease-in-out;
border: 1px solid;
}

.fotter-socialmedia i:hover{
 background-color:var(--primary);
 transform: scale(1.05);
 border: 1px solid transparent;
}

.footer-button-And-Social{
  display: flex;
}

.top-icon i{
background:white;
padding: 15px;
border-radius: 5px;
font-size: 26px;
color:var(--primary);
position: fixed;
bottom: 20px;
right: 20px;
z-index: 7;
}

/* fotter-section style end */