
.hanger-col{
  position: relative;
}
.hanger-col-wrap{
  box-shadow: rgba(100, 100, 111, 0.7) 0px 7px 29px 0px;
  padding: 20px;
  border-radius: 20px 0px;
  margin-bottom: 40px;
  transition: .3s;
  height: 350px;
  font-family: 'oswald';
}


.hanger-col-wrap:hover{
  margin-top: -5px;
}

.hanger-col-wrap img{
  width: 100%;
  height: 250px;
} 
.hanger-col-wrap h4{
  color: black;
  text-align: center;
  padding-bottom: 10px;
}


.plastic-wrapper{
  margin-bottom: 40px;
  box-shadow: rgba(100, 100, 111, 0.4) 0px 7px 29px 0px;
  border-radius: 10px;
  border: 1px solid #888;
}

.plastic-wrapper .plastic-item-wraper{
  display: flex;
  border-radius: 10px;
  
}
/* .img-plastic{

} */
.img-plastic img{
  width: 100%;
  height:294px;
  border-radius: 10px 0px 0px 0px;
}
.table-div{
  width: 100%;
  height: 294px !important;
  
}

.table-div table{
  height: 294px;
}

.request-button{
  display:flex;
  justify-content:center;
  align-items: center;
  
}

.request-button button{
  border: 1px solid #006BAF;
  padding:8px 25px;
  margin: 10px;
  border-radius: 4px;
  background: #006BAF;
  color: white;
  font-family: 'oswald';
  transition: all .3s ease-in-out;
  width: 50%;
}

.request-button button:hover{
  border: 1px solid #006BAF;
  background: transparent;
  color: black;
}

.product-details-wrapper img{
  width: 108.8%;
  width: 100%;
}
/* .product-details-wrapper{
  border: 1px solid red;
} */

.product-details-wrapper table{
  width: 100%;
}

.product-outer-wrapper{
  border: 1px solid lightgray;
  margin-bottom: 30px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 5px;
}


/*---------------Navbar Start-------------*/



.sidebar{
  height:100vh;
  position:fixed;
  background-color:white;
  width:300px;
  transition-duration:.5s;
  z-index:2000;
  left:-1000px;
  top:0px;
  font-weight:bold;
  bottom: 0;
  overflow-y:auto;
}


.sidebar h4{
  color:black;
  padding: 12px 0px;
  font-family: 'roboto';
  text-align: center; 
  border-bottom: 1px solid lightgray;
  position: fixed;
  width:300px;
  top: 0;
  background: white;
}


.sidebar li a{
  color:black;
  width:100%;
  box-sizing:border-box;
  line-height:43px;
  font-size:18px;
  font-family: 'oswald';
  
}


.collapse-li-first:first-child{
  margin-top:58px;
  margin-bottom: 10px;
}

.sidebar a:hover{text-decoration:none;}


/*---------------Developing part--------------+*/

#check{display:none;}


label #bars,label #close{
  position:absolute;
  padding:15px;
  transition-duration:.5s;
  cursor: pointer;
}

label #bars{
  left:0px;
  top:198px;
  position: fixed;
  background: white;
  width: 100%;
  color: black;
  padding:10px;
  font-size:26px;
  z-index:98;
  padding:10px;
}




label #close{
  top:4px;
  z-index:10;
  opacity:0;
  color:black;
  position:fixed;
  left:245px;
}


#check:checked ~ .sidebar{
  left:0px;
}


#check:checked ~ label #bars{
  opacity:0;
  pointer-events:none;
}


#check:checked ~ label #close{      
     position:fixed;
     z-index:105000;
     opacity:1;
}

.sidebar li {
  transition-duration:0.5s;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
  margin-left: -40px;
  padding-left: 20px;
}

.sidebar li:hover{
  background: rgb(241, 233, 233);
}

.collapse-item-sidebar li:hover{
  background-color:transparent;
}

.collapse-item-sidebar li a{
  margin-left: -15px;
  padding-left:10px;
  border-bottom: 1px dotted lightgray;
  width:90%;
  color: #555;
  font-size: 15px;
  font-family: 'robto';
  border-radius: 5px;
  background: transparent;
}

.collapse-item-sidebar li a:hover{
  background: rgb(247, 240, 240);
}

.sidebar-search-bar input{
  width: 234px;
  border: none;
  outline: none;
  /* box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px; */
  border: 1px solid #006BAF;
  padding: 4px;
  margin-left: -20px;
  margin-top: 10px;
  border-radius: 5px 0px 0px 5px;
}

.sidebar-search-bar i{
  background:#006BAF;
  padding: 9px;
  color: white;
  border-radius: 0px 5px 5px 0px;
  margin-left: -5px;
  cursor: pointer;
  transition: all .3s
  ;
}

.sidebar-search-bar i:hover{
  background: #2E3191;
}
/*---------------Navbar End----------------*/
