/*------- max width 991px start ---------*/

@media only screen and (max-width:1260px){
  .subheader{
    display: none;
  }

  .main-header{
    position: fixed;
    top: 0;
  }
 
  .caurasel-main{
    margin-top: -20px;
  }

  .header-photo{
    margin-top: -70px;
  }

 .services{
  margin-top: -60px;
  }  

  .signIn{
    margin-top: -60px;
  }

  .contact-section{
    margin-top: -60px;
  }

  .product-section{
    margin-top: -60px;
  }
  
  .about-section{
    margin-top: -50px;
  }

  label #bars{
    top: 145px;
  }

  .plastic-product{
    margin-top: -50px !important;
  }
 
}

@media only screen and (max-width: 991px){

  .footer-button-And-Social{
    display: block;
  }
  .caurasel-main{
    margin-top: -120px;
  }
  .headerflex ul li a {
    padding: 0px 100px !important;
  }
 
  .headerflex ul li::after{
    content: '';
    display: none;
  }

  .responsive{
    display: block;
  }
 
  .searchIcon{
    right: 0px;
  }
  .heading{
    display: none;
  }
  .navbar-brand{
    display: block;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px !important;
    height: 50px;
  }
  .contact::after{
    display:none;
  }
 .title-wrapepr .title h2{
  display:block
 }
  .header-photo{
    margin-top: -70px;
  }

 .services{
    margin-top: -150px;
  }  

  .signIn{
    margin-top: -150px;
  }

  .contact-section{
    margin-top: -150px;
  }

  .product-section{
    margin-top: -150px;
  }
  
  .about-section{
    margin-top: -130px;
  }

.what-looking input{
  width: 100%;
}
.what-looking textarea{
  width: 100%;
}
.what-looking button{
  width: 97%;
}

.request-button button{
   font-size: 15px;
   padding: 4px;
}

.product-details-wrapper img{
  width: 100%;
}

label #bars{
  display: block;
  top: 60px ;
  position: fixed;
  background: white;
  width: 100%;
  color: black;
  border-radius: 0px;
  left: 0;
}

.plastic-product{
  margin-top: -150px !important;
}

}
/*------- max width 991px end ---------*/



/*------- max width 780px start ---------*/
@media screen and (max-width:780px){
   .small-logo{
     height: 50px;
   }  

   .title-wrapepr .title h2{
    font-size: 22px !important;
  }

  .plastic-wrapper .plastic-item-wraper{
    display: block;
    
  }

  .img-plastic img{
    border-radius: 10px 10px 0px 0px;
  }

.unic-border{
  left: 50%; 
  top: 40%; 
  transform: translate(-50%, -50%);
}
  
.contact-wrapper-form{
  width: 100%;
}

.office-address-wrapper{
  display: block;
  margin-bottom: 30px;
}

}
/*------- max width 780px end ---------*/



/*------- max width 520px start ---------*/
@media screen and (max-width:520px){
   .small-logo{
     height: 35px;
   }  
   
   .title-wrapepr .title h2{
    font-size: 21px !important;
  }
  .unic-border{
    width:340px;
  }
}
/*------- max width 520px end ---------*/


/*------- max width 470px start ---------*/
@media only screen and (max-width:470px){
  .title-wrapepr .title h2{
    font-size:18px !important;
  }
  .navbar-toggler{
    font-size: 16px !important;
  }
  .small-logo{
    height:25px;
  }  

  .request-button button{
    width: 50%;
    padding: 2px 5px;
    font-size: 13px;
  }
}
/*------- max width 470px end ---------*/


@media only screen and (max-width:405px){
  .title-wrapepr .title h2{
    font-size:16px !important;
  }
}


/*------- max width 370px start ---------*/
@media only screen and (max-width:375px){
  .title-wrapepr .title h2{
    font-size: 13.5px !important;
  }
  .navbar-toggler{
    font-size: 16px !important;
  }

  
}
/*------- max width 370px end ---------*/
